$color: green;

// body {
//   color: $color;
// }

@import '../../components/GamePlayer/gamePlayer';
@import '../../components/PlayerTitle/playerTitle';

#gamePlayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 60%;
}

#scoreKeeperContainerDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

#scoreBoardDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#scoreKeeperScoreboardText {
  font-size: 24px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#resetScoreDiv {
  margin-right: 10px;
  margin-left: 10px;
}

#resultsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 100px;
}

.choiceImg {

}